#editor-container {
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
}

#output-container {
	background: #f9f9f9;
	padding: 10px;
}

button {
	background-color: #0f9d58;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}